html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  background-color: #E5E5E5;

}

.container{
  margin: 0 auto;
  width: 768px;
  position: relative;
  background-color: #fff;
}
.header{
  background: #889DEA;

}

.title_list_toDo{
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-family: Poppins;
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 32px;
color: #FFFFFF;
margin-bottom: 32px;

}

.list_sum_todo{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.list_sum_todo__item{
  text-align: center;
  margin-bottom: 72px;
}

.name_sum{
  margin: 0;
  padding: 0;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
}
.number{
  margin: 0;
  padding: 0;
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 56px;
line-height: 56px;
color: #fff;
}

.button_add_task_little{
  display: block;
  width: 48px;
  height: 48px;
  background: #88EAA9;
  border: none;
  border-radius: 11px;
  transform: rotate(45deg); 
  cursor: pointer;
  position: absolute;
  left: 47%;
  top: 186px;
}

.plus{
  color: #fff;
  transform: rotate(45deg); 
  font-size: 40px;
  font-weight: 100;
}

.list{
  height: 808px;
}

.list_toDo_item{
  list-style: none;
  border-bottom: 1px solid #C7C7C7;
  position: relative;
  padding-left: 35px;
 
}
.menu_info{
  display: flex;
  justify-content: space-between;
}

.inputCheck{
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
}

.change__button{
  padding: 0;
  margin: 0;
  border: none;
  width: 20px;
  height: 20px;
  background-image: url(./images/icons8-ред.png);
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.button_ok{
  background-image: url(./images/icons8-галочка.png);
}

.delete__button{
  padding: 0;
  margin: 0;
  margin-left: 20px;
  border: none;
  width: 20px;
  height: 20px;
  background-image: url(./images/icons8.png);
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.toDo__text{
  width: 512px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #3F3F3F;
}

.inputDescription{
  position: absolute;
  
  /* display: none; */
}
.inputDescription input{
  border: none;
}


.button_add_task_big{
  display: block;
  margin: 0 auto;
  width: 208px;
  padding: 0;
  text-align: center;
  height: 48px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color:#fff;
  background: #88EAA9;
  border: none;
  border-radius: 11px;  
  cursor: pointer;
}

input label{
  background-color: ;
}

input label:checked{
  background-color: ;
}

textarea{
  border: none;
  resize: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #3F3F3F;
 
  
}

.checked{
 text-decoration: line-through;
}
